<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <script defer src="{{ url_for('static',filename='main.js') }}"></script>
    <script src="https://kit.fontawesome.com/ac0514ba62.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>PaperSky</title>
</head>

<body class="flex_column">
    <div class="nav">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            </div>
        </nav>
    </div>
    <main style="width:80vw; margin-top: 50px;">
        <div style="margin-bottom:10vh">
            <h1>Hello {{ current_user.name }} ,👋
                <br> store all your things at one place<br>
                introducing <strong>"PaperSky"</strong>
            </h1>
            <button type="file" style="width:100%;" onclick="add()" class="block flex_row">
                Add <i class="fa-solid fa-plus"></i>
            </button>
            <div id='preview_holder' class="flex_column"></div>
            
            <form id='file_form' action="/upload" method='POST' enctype="multipart/form-data">
                <input 
                id="file" 
                accept='image/*,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document' 
                type="file" 
                multiple
                name='file' 
                style='display:none;'>
            </form>
            <button id="submit" style="width:100%;" class="block flex_row">
                submit
            </button>
        </div>

        <h1>Recents...</h1>
        <div class="flex_column">
        {% for file in files %}
        <div class="block" style="width:90vw;">{{file}}</div>
        {% endfor %}
        </div>
       
        </main>
    
    <!--all dialog for waiting progress goes here-->
    <dialog id="wait">
        <div class="loader">
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </dialog>

    <!--all toasts containers goes here-->
    <div id="toast_container" class="toast-container position-fixed top-0 end-0 p-3">
    </div>

    <footer class="flex_column">
        Made with ❤️ by Bhaskar and Sourabh
    </footer>

    <!--all scripts goes here-->
    <script>
        onload = ()=>{
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            gen_toast("{{message}}","{{category}}").firstChild.classList.add("show");
            {% endfor %}
            {% endif %}
            {% endwith %}
        };
    </script>  
</body>

</html>     